@model LidLaunchWebsite.Models.BulkBatchOrder
@{
    ViewBag.Title = "BulkOrderBatch";
}

<h2>BulkOrderBatch</h2>
<table>
    @foreach (LidLaunchWebsite.Models.BulkOrderItem itemToOrder in Model.lstItemsToOrder)
    {

        <tr>
            <td>
                @itemToOrder.ItemName
            </td>
            <td>
                @itemToOrder.ItemQuantity
            </td>
        </tr>

    }
</table>

@foreach (LidLaunchWebsite.Models.BulkOrder bulkOrder in Model.lstBulkOrders)
{
    <div><a href="~/Dashboard/BulkOrderDetailsPopup?bulkOrderId=@bulkOrder.Id" target="_blank">@bulkOrder.Id</a></div>
}


