
@{
    ViewBag.Title = "Order Custom Hats - Lid Launch";
}
<style type="text/css">
    #footer {
        padding-bottom: 200px;
    }

    #content {
        padding-top: 0;
    }
    iframe#launcher {
        bottom: 75px !important;
        margin: 10px 5px !important;
    }
</style>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<span id="isBulkOrder" class="hidden">true</span>
<div id="bulkOrderingContainer">
    <div id="bulkProgressBar" class="centerInner">
        <div class="left">
            <div class="bulkProgressBarStep selected" onclick="changeBulkOrderSection('intro');" id="introStepButton"><img src="~/Images/hiStepIcon.png" height="40" />Intro</div>
            <div class="bulkProgressBarStep" onclick="changeBulkOrderSection('hats');" id="hatsStepButton"><img src="~/Images/hatStepIcon.png" height="40" />Select Hats</div>
            <div class="bulkProgressBarStep" onclick="changeBulkOrderSection('art');" id="artStepButton"><img src="~/Images/artStepIcon.png" height="40" />Artwork</div>
            <div class="bulkProgressBarStep" onclick="changeBulkOrderSection('checkout');"><img src="~/Images/cartStepIcon.png" height="40" />Checkout</div>
        </div>
        <div class="right">
            <div class="bulkProgressBarContinuteButton" onclick="goToNextStep(currentOrderStep);">Start</div>
        </div>
    </div>
    @{ Html.RenderPartial("~/Views/Bulk/IntroStep.cshtml"); }
    @{ Html.RenderPartial("~/Views/Bulk/HatSelectStep.cshtml"); }
    @{ Html.RenderPartial("~/Views/Bulk/ArtworkStep.cshtml"); }
    <div id="bulkReadyToBuy" class="centerInner" style="display:none;">
        <a href="javascript:void(0);" onclick="showBulkCart();"><div id="bulkPaymentButton">Ready To Buy</div></a>
    </div>
    <div id="totalBottomBar">
        <div class="currentTotalContent">
            <b>Current Total: <span id="bottomTotal">$0</span></b>
            <br /><i> <span id="totalHatCount">0</span> hats <span id="artworkSetupBottom">($30 artwork setup - buy 12 or more to get free artwork setup)</span></i>
        </div>
    </div>
</div>

<div id="checkoutPopoup" style="display:none;" class="bulkCartPopup" >
    <div class="centerInner">
        <div class="close" onclick="$('#checkoutPopoup').hide();" style="color:black;">X</div>
        <div id="checkoutHolderLeft">
            <div id="chckoutWizzard">
                @{ Html.RenderPartial("~/Views/Cart/ProcessPayment.cshtml"); }
            </div>
            <div id="paypalButtons" class="hidden">
                <h1>Select a payment option below</h1>
                <span id="paymentCompleteGuid" style="display:none;">@Model.PaymentCompleteGuid</span>
                <div id="paypal-button-container-bulk"></div>
            </div>
        </div>
        <div id="checkoutHolderRight">
            <table class="checkOutCartItems" id="cartItems">
                <tbody>

                </tbody>
            </table>
            <table class="checkOutCartItems" style="margin-top:10px;">
                <tbody>
                    <tr><td colspan="4"><hr></td></tr>
                    <tr>
                        <td colspan="3">Sub Total:</td>
                        <td style="text-align:right;"><span id="bulkCartSubTotal">$0.00</span></td>
                    </tr>
                    <tr>
                        <td colspan="3">Shipping:</td>
                        <td style="text-align:right;">$<span id="shippingCost">0</span></td>
                    </tr>
                    <tr><td colspan="4"><hr></td></tr>
                    <tr>
                        <td colspan="3" style="font-weight:bold;">Total:</td>
                        <td style="text-align:right; font-weight:bold;">$<span id="lblTotal">0</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!--/cetnerInner-->
</div><!--/checkoutPopup-->

