<div id="bulkIntro" class="centerInner">
    <div id="bulkIntroInner">
        <div class="left">
            <h2>Our custom hats start at $15/each.</h2>
            @*<table class="priceList">
                    <tr>
                        <td>1-24</td>
                        <td>$15</td>
                    </tr>
                    <tr>
                        <td>24-48</td>
                        <td>$14</td>
                    </tr>
                    <tr>
                        <td>48-72</td>
                        <td>$13</td>
                    </tr>
                    <tr>
                        <td>72-96</td>
                        <td>$12</td>
                    </tr>
                    <tr>
                        <td>96-120</td>
                        <td>$11</td>
                    </tr>
                    <tr>
                        <td>120+</td>
                        <td>$10</td>
                    </tr>
                </table>*@
            <p>No Minimum Quantities.</p>
            <p>Order 12 or more to get <b>FREE</b> artwork setup.</p>
        </div>
        <div class="right">
            <iframe width="500" height="280" src="https://www.youtube.com/embed/MdmznVGnQEU?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top:30px;"></iframe>
        </div>
    </div>
    <div id="getStartedBar" onclick="changeBulkOrderSection('hats');">
        <div class="startBulk">
            GET STARTED
        </div>
    </div>
    <div id="customerReviews">
        <div id="fiveStarHolder"><img src="~/Images/5stars.png" /> - What our customers are saying</div>
        <img src="~/Images/CustomerReviews1.jpg" />
        <img src="~/Images/CustomerReviews2.jpg" />
    </div>
    <div id="getStartedBar" onclick="changeBulkOrderSection('hats');">
        <div class="startBulk">
            GET STARTED
        </div>
    </div>
    <div class="timeline" style="text-align:center; margin:20px 0">
        <img src="~/Images/Timeline.jpg" style="max-width:100%;" />
    </div>
    <div id="getStartedBar" onclick="changeBulkOrderSection('hats');">
        <div class="startBulk">
            GET STARTED
        </div>
    </div>
</div>