@model LidLaunchWebsite.Models.BulkBatchOrder
@{
    ViewBag.Title = "PrintBulkOrderBatchBulkOrders";
}
<style type="text/css">
    #bulkOrderDetailsPopup {
        display: inline;
        background: unset;
        height: auto;        
        position:relative;
    }
    #bulkOrderDetailsPopupContent {
        margin: unset;
        width: auto;
    }
    #header, #mobileNav, .mainNavigation, #footer, #minFooter {
        display: none;
    }
    .bulkOrderPrint {
        page-break-after: always;
    }
</style>

@foreach (LidLaunchWebsite.Models.BulkOrder bulkOrder in Model.lstBulkOrders)
{
<div class="bulkOrderPrint">
    @{Html.RenderPartial("~/Views/Dashboard/BulkOrderDetailsPopup.cshtml", bulkOrder);}    
</div>    
}

