<style type="text/css">
    .thread {
        width: 60px;
        height: 80px;
        float: left;
        position: relative;
        margin: 10px;
        text-align: center;
        font-size: 12px;
    }

    .thread .threadImage img {
        width: 100%;
    }
</style>
<div id="threadChart">
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1800Black.jpg" /></div>
        <div class="threadName">Black</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1801White.jpg" /></div>
        <div class="threadName">White</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1811Silver.jpg" /></div>
        <div class="threadName">Silver</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1502Gray.jpg" /></div>
        <div class="threadName">Gray</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1871LightBlue.jpg" /></div>
        <div class="threadName">Light Blue</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1593NeonBlue.jpg" /></div>
        <div class="threadName">Neon Blue</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1934Blue.jpg" /></div>
        <div class="threadName">Blue</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1742Navy.jpg" /></div>
        <div class="threadName">Navy</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1633Purple.jpg" /></div>
        <div class="threadName">Purple</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1701NeonGreen.jpg" /></div>
        <div class="threadName">Neon Green</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1651Green.jpg" /></div>
        <div class="threadName">Green</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1795OliveGreen.jpg" /></div>
        <div class="threadName">Olive Green</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1823NeonYellow.jpg" /></div>
        <div class="threadName">Neon Yellow</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1824Yellow.jpg" /></div>
        <div class="threadName">Yellow</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1965NeonOrange.jpg" /></div>
        <div class="threadName">Neon Orange</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1772Gold.jpg" /></div>
        <div class="threadName">Gold</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1738Tan.jpg" /></div>
        <div class="threadName">Tan</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1857Brown.jpg" /></div>
        <div class="threadName">Brown</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1659DarkBrown.jpg" /></div>
        <div class="threadName">Dark Brown</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1721NeonPink.jpg" /></div>
        <div class="threadName">Neon Pink</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1637Red.jpg" /></div>
        <div class="threadName">Red</div>
    </div>
    <div class="thread">
        <div class="threadImage"><img src="~/Images/Threads/1982DarkRed.jpg" /></div>
        <div class="threadName">Dark Red</div>
    </div>
</div><!--/threadchart-->