<div style="padding:20px; font-size:18px;">
    <p>We will convert your logo/artwork into a embroidery friendly design for you. Just pay a one time fee of $30 and we will take care of the rest for you.</p>
    <p>Send your artwork to <a href="mailto:convert@lidlaunch.com">convert@lidlaunch.com</a> and we will start the process!</p>
    <div style="margin-top:20px;"><img src="~/Images/Conversion.png" width="300" /></div>
</div>
@{
    ViewBag.Title = "Lid Launch - Artwork Conversion Service";
}
<style type="text/css">
    #content {
        height: 600px;
    }
</style>