@{
    ViewBag.Title = "Lid Launch - Buy, Create and Sell Custom Hats Online. We handle everything for you!";
}


<div id="searchBox">
    <div id="searchBoxTop">
        <span class="SearchTag">
            Find new hats you'll love.
        </span>
        <div id="searhHolder">
            <input type="text" id="search" placeholder="search..." />
            <div id="searchButton"><img src="@Url.Content("~/Images/search.jpg")" width="40" height="40" /></div>
        </div>

    </div>
    <div id="searchBoxBottom">
        <div id="tagLine">
            Can't find that hat that fits you? Make your own...FREE!
        </div><!--/tagLine-->
        <div id="button" onclick="window.location = '/Create/GetStarted'">
            Start Selling
        </div><!--/button-->
    </div>
</div><!--/searchBox-->

<div id="banner" style="display:none;">

</div>
<div id="paypalCreditBanner">
    <script type="text/javascript" data-pp-payerid="YGM642QKHYWE8" data-pp-placementtype="728x90" data-pp-style="BLKWHTYLRG">
        (function (d, t) { "use strict"; var s = d.getElementsByTagName(t)[0], n = d.createElement(t); n.src = "//www.paypalobjects.com/upstream/bizcomponents/js/merchant.js"; s.parentNode.insertBefore(n, s); }(document, "script"));
    </script>
</div>

<div>
    <div id="ProductListSection">
        <h2>Recently Added Hats</h2>
        @foreach (LidLaunchWebsite.Models.WebsiteProduct prod in Model)
        {
            <div class="productListed" onclick="window.location='/Product?id=@prod.ProductId'">
                <img src="~/Images/DesignImages/InUse/@prod.Image" width="250" class="productImage" /><br />
                <span class="prodName">@prod.Name</span><br />
                <span class="prodPrice">$19.99</span>
                @if (prod.ParentCount > 0)
                {
                    <div class="multiOptionsIcon">
                        <img src="~/Images/MoreColors.png" height="20"/><br/>More color options available
                    </div>
                }
            </div>
        }
    </div>
</div><!--/twoThirds-->

<style type="text/css">
    #content {
        padding-top: 0;
    }
</style>
