<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!--/PROD-->
    <!--<add key="dbconn" value="Server=EC2AMAZ-RDSKQK0\SQLEXPRESS;DataBase=LidLaunch;Integrated Security=True"/>-->
    <!--/OfficePC-->
    <add key="dbconn" value="Server=DESKTOP-B1MNS4I\SQLEXPRESS;DataBase=LidLaunch;Integrated Security=True"/>
    <!--/HomePC-->
    <!--<add key="dbconn" value="Server=DESKTOP-7KIH9UE;DataBase=LidLaunch;Integrated Security=True" />-->
    <!--/NatPC-->
    <!--<add key="dbconn" value="Server=DESKTOP-6ED5AEO\SQLEXPRESS;DataBase=LidLaunch;Integrated Security=True" />-->
    <!--/LidLaunch Lenovo-->
    <!--<add key="dbconn" value="Server=DESKTOP-EHR1T0R\SQLEXPRESS;DataBase=LidLaunch;Integrated Security=True" />-->
    <!--/SURFACE-->
    <!--<add key="dbconn" value="Server=DESKTOP-L8F77II\SQLEXPRESS;DataBase=LidLaunch;Integrated Security=True" />-->
    <!--/MACBOOK 16-->
    <!--<add key="dbconn" value="Server=DESKTOP-IFK5PP6\SQLEXPRESS;DataBase=LidLaunch;Integrated Security=True" />-->
  </appSettings>
</configuration>
