@{
    ViewBag.Title = "Lid Launch - Designer Payouts";
}
<h1>DESIGNER PAYOUTS</h1><br />
Creating designs and selling hats through lid launch allows designers to make money on each sale.
<br /><br />
<b>1.</b> The first sale for a specific design will not yield profit for the designer. The first sale's profit goes towards digitizing the artwork uploaded.<br /><br />
<b>2.</b> Each and every sale for a specific design after the first sale will yield $5.<br /><br />
<b>3.</b> Designers can request a payout at any time from their dashboard.<br /><br />
<b>4.</b> Payouts will be sent via PayPal to the PayPal address specified when the designer set up their designer profile.<br /><br />
<b>5.</b> Payouts will take 24-48 hours to be processed and sent out.<br /><br />