@{
    ViewBag.Title = "LidLaunch - Privacy Policy";
}
<div class="centerInner">
    <b>PRIVACY POLICY</b><br />
    This Privacy Policy applies to all personal information collected by LidLaunch via the Site located at www.lidlaunch.com
    <br /><br />
    <b>How to contact us about privacy</b>
    <br /><br />
    Your privacy is very important to us. If you have any questions regarding our information practices and other privacy aspects of the Site. You can contact us at: robert@lidlaunch.com .
    <br /><br />
    <b>Collection and Purpose</b>
    <br /><br />
    We collect your personal information disclosed to us during the registration process. We may also collect personal information from you in the course of your use of our Site including, but not limited to:
    <br /><br />
    <b>(a)</b> Registration Page;
    <br /><br />
    <b>(b)</b> Contact Us Page;
    <br /><br />
    <b>(c)</b> Referrals;
    <br /><br />
    <b>(d)</b> Newsletters;
    <br /><br />
    <b>(e)</b> Email alerts; and
    <br /><br />
    <b>(f)</b> Publicly available information.
    <br /><br />
    We collect the following types of personal information:
    <br /><br />
    <b>(a)</b> Name;
    <br /><br />
    <b>(b)</b> Address;
    <br /><br />
    <b>(c)</b> Email address; and
    <br /><br />
    <b>(d)</b> Phone number.
    <br /><br />
    The purpose for which we collect personal information is to provide you with the best service experience possible on the Site and for our internal business purposes that form part of normal business practices. Some provision of personal information is optional. However, if you do not provide us with certain types of personal information, you may be unable to enjoy the full functionality of the Site.
    <br /><br />
    <b>Disclosure</b>
    <br /><br />
    We may personal information only to our service providers who assist us in operating the Site. We will only disclose personal information to an unrelated third party with your consent.
    <br /><br />
    Apart from such circumstances, we may disclose personal information in special situations where we have reason to believe that doing so is necessary to identify, contact or bring legal action against anyone damaging, injuring or interfering (intentionally or unintentionally) with our rights or property, users or anyone else who could be harmed by such activities.
    <br /><br />
    We may also disclose personal information as required by law.
    <br /><br />
    In the event that we sell or buy businesses or their assets, or engage in transfers, acquisitions, mergers, restructurings, changes of control and other similar transactions, customer information is generally one of the transferable business assets. Thus, your personal information may be subject to such a transfer. In the unlikely event of insolvency, personal information may be transferred to a trustee or debtor in possession and then to a subsequent purchaser.
    <br /><br />
    If you voluntarily provide information in publicly accessible areas of the Site, the information can be viewed and therefore used by others. We advise Users not to disclose contact information that they do not wish to have publicly available. We are not responsible for personal information you choose to submit publicly.
    <br /><br />
    <b>Access and Correction</b>
    <br /><br />
    Canadian privacy law allows you to get access to, and correct, the personal information we hold about you in certain circumstances. If you would like to obtain such access, please contact us on the details set out above.
    <br /><br />
    Please note that the access and correction requirements under this Privacy Policy operates alongside and do not replace other informal or legal procedures by which an individual can be provided access to, or correction of, their personal information, including the requirements under the freedom of information legislation.
    <br /><br />
    <b>Complaint</b>
    <br /><br />

    Canadian privacy law allows you to make a complaint about any alleged breaches of privacy. In order to lodge a complaint with us, please contact using the details above with the following information:<br />
    <b>1.</b> Your name and address;<br />
    <b>2.</b> Details of the alleged breach of privacy; and<br />
    <b>3.</b> URL link to the alleged breach of privacy (if applicable).<br />
    Please allow us 30 days to investigate your complaint, after which we will contact you immediately to resolve the issue.<br />
    <b>Retention of Information</b>
    <br /><br />
    We retain information for as long as required, allowed or we believe it useful, but do not undertake retention obligations. We may dispose of information in our discretion without notice, subject to applicable law that specifically requires the handling or retention of information. You must keep your own, separate back-up records.
    <br /><br />
    <b>Security</b>
    <br /><br />
    You must do what you reasonably can to ensure the security of your personal information. It is your obligation that you protect yourself against unauthorised access to your password and to your computer. Please log out of the Site when you have finished using a shared computer. Be wary of including sensitive information in your emails to us as they are not necessarily secure against interception. We will not ask for passwords in an email and you should assume that if you get such a request, it must be fraudulent.
    <br /><br />
    We have processes in place to ensure the security of your personal information. We have physical, electronic, and managerial procedures to help safeguard and prevent unauthorised access, maintain data security, and correctly use your information.
    <br /><br />
    However, neither people nor security systems are infallible, including encryption systems. While we use reasonable efforts to protect your personal information, we cannot guarantee its absolute security.
    <br /><br />
    <b>Changes to Privacy Policy</b>
    <br /><br />
    We reserve the right to amend this Policy at any time. Changes and clarifications will take effect immediately. If we make a significant change to the Policy, we may issue a notice by email or through notice on the home page of the Site. We encourage you to check the Policy from time to time to check for changes.
    <br /><br />
    <b>Consent</b>
    <br /><br />
    You warrant that you are able to give consents under Canadian Law or, in the event that you do not have the capacity to give consent, you warrant that your guardian or attorney is able to give any consent required under this Privacy Policy on your behalf.
    <br /><br />
    You hereby expressly and voluntarily grant your informed consent to LidLaunch to deal with your personal information in accordance with the terms and conditions of this Privacy Policy. Should you retract your consent, please contact us at robert@lidlaunch.com. If you retract your consent, you acknowledge and agree that failure to provide certain types of personal information may not give you access to the full functionality of the Site.
</div>