@{
    ViewBag.Title = "Lid Launch - Returns/Replacements/Cancellations";
}
<h1>RETURNS POLICY</h1>
<b>6. RETURN POLICY</b>
<br />
<br />
<b>6.1</b> Due to the custom nature of each hat produced, Lid Launch does not offer returns or refunds.
<br />
<br />
<b>6.2</b> In the event that the hat you have received is incorrect, a return can be approved at the discretion of Lid Launch. In such case, you are responsible for organising return of the Items to us within 30-day period in order for the Items to be covered under this Policy.
<br />
<br />
<b>6.3</b> Lid Launch is not responsible for returning any Items that have been lost in transit.
<br />
<br />
<b>6.4</b> You must ensure that the Items are returned to us unwashed, unused, and in their original packaging and tags intact. If the Item does not comply with this clause, you will not be eligible for this Policy.
<br />
<br />


<b>7. REPLACEMENTS ONLY</b>
<br />
<br />
<b>7.1</b> Upon receipt of the returned Item, Lid Launch will inspect the Item and make its decision in its sole discretion on your notice whether it is more appropriate to offer a replacement.
<br />
<br />
<b>7.2</b> Customers acknowledge and agree that due to the customised nature of the Items, Lid Launch cannot offer any refunds. There is little to no resale value for the Items.
<br />
<br />

<b>8. CANCELLATION POLICY</b>
<br />
<br />
<b>8.1</b> The artwork conversion and setup process starts immediately after orders are placed. Orders may be canceled within 72 hours of an order being placed. Orders that are canceled will still be charged the $30 artwork setup fee in the event that time was spent converting artwork.