@{
    ViewBag.Title = "LidLaunch - Terms of Sales & Delivery";
}
<div class="centerInner">
    <h1>TERMS OF SALE AND DELIVERY</h1>
    By completing the online order form to make a purchase, you are offering to enter into a contract to purchase items from LidLaunch. If LidLaunch accepts your offer, the Items will be sold to you subject to these Terms of Sale and delivery and our Terms and Conditions (the Terms).
    <br />
    <br />
    The contract is made when LidLaunch accepts your order by giving notice to you. We will not accept your order until full payment is made, including the product price and applicable delivery charges.
    <br />
    <br />
    <b>1. PAYMENT METHODS</b>
    <br />
    <br />
    <b>1.1</b> Any purchases may be paid for using a Paypal account or credit card through third party merchant facilities. LidLaunch is not responsible or has any control over any third party merchant facilities. Customers acknowledge and agree that LidLaunch will not be liable for any loss or damage arising out of their use of a third party payment gateway. LidLaunch advises that Customers should read and understand the terms and conditions of the third party merchant facilities before using them.
    <br />
    <br />
    <b>1.2</b> All prices on LidLaunch are shown in United States Dollars (USD).
    <br />
    <br />
    <b>1.3</b> Customers acknowledge and agree that some banks and financial institutions may charge you an additional fee for international transactions.
    <br />
    <br />
    <b>1.4</b> Customers acknowledge and agree that LidLaunch is not responsible for any additional charges, fees or taxes charged by local government, port authorities or 3rd party agencies. Any addtional charges are the responsibility of the customer and not the responsibility of LidLaunch.
    <br />
    <br />

    </b>
    <b>2. DELIVERY ARRANGEMENTS</b>
    <br />
    <br />
    <b>2.1</b> Any delivery times quoted are in Business Days.
    <br />
    <br />
    <b>2.2</b> Our production times are an ESTIMATED 10-14 Business Days. Delivery time is typically 2-5 days, depending on the location and delivery carrier. Production time does NOT include shipping times. Shipping costs are determined at the checkout.
    <br />
    <br />
    <b>2.3</b> Customers acknowledge and agree that the Items offered for sale are directed solely at residents in the United States. LidLaunch makes no representation that any Items sold through the Site are appropriate or available for use outside The United States.
    <br />
    <br />


    <b>3. SPECIAL OFFERS</b>
    <br />
    <br />
    All specials, promotions, clearances, offers, and discounted items advertised on the Site are available only while stocks last unless otherwise stated.
    <br />
    <br />


    <b>4. ITEM AVAILABILITY</b>
    <br />
    <br />
    All hats are custom made to order and will be created once purchased.
    <br />
    <br />


    <b>5. NOTICE</b>
    <br />
    <br />
    <b>5.1</b> If there is a defect with any of the Items in your order, you must notify us within 15 days of receipt of the Items of your intention to return the Items to us.
    <br />
    <br />
    <b>5.2</b> You must provide your order information along with your notification.
    <br />
    <br />
    <b>5.3</b> You must provide particulars as to why you are not satisfied with the Items in your order. You must include a clear photograph of the defect.
    <br />
    <br />


    <b>6. RETURNS </b>
    <br />
    <br />
    Please see our returns policy page
    <br />
    <br />


    <b>7. REPLACEMENTS ONLY</b>
    <br />
    <br />
    Please see our returns policy page
    <br />
    <br />

    <b>8. CANCELLATION POLICY</b>
    <br />
    <br />
    Please see our returns policy page
    <br />
    <br />

    <b>9. ENTIRE AGREEMENT</b>
    <br />
    <br />
    <b>9.1</b> These Terms, and the documents expressly referred to in them, constitute the entire Agreement between you and LidLaunch, and supersede all previous discussions, correspondence, negotiations, previous arrangements, understanding or agreement between us relating to the Services.
    <br />
    <br />
    <b>9.2</b> We each acknowledge that, in entering into this Agreement, neither of us relies on, and subsequently will have any remedies for, any representation or warranty that is not set out in this Agreement.
</div>