@{
    ViewBag.Title = "Lid Launch - Terms of Sales & Delivery";
}
<h1>TERMS OF SALE AND DELIVERY</h1>
By completing the online order form to make a purchase, you are offering to enter into a contract to purchase items from Lid Launch. If Lid Launch accepts your offer, the Items will be sold to you subject to these Terms of Sale and delivery and our Terms and Conditions (the Terms).
<br /><br />
The contract is made when Lid Launch accepts your order by giving notice to you. We will not accept your order until full payment is made, including the product price and applicable delivery charges.
<br /><br />
<b>1. PAYMENT METHODS</b>
<br /><br />
<b>1.1</b> Any purchases may be paid for using a Paypal account or credit card through third party merchant facilities. Lid Launch is not responsible or has any control over any third party merchant facilities. Customers acknowledge and agree that Lid Launch will not be liable for any loss or damage arising out of their use of a third party payment gateway. Lid Launch advises that Customers should read and understand the terms and conditions of the third party merchant facilities before using them.
<br /><br />
<b>1.2</b> All prices on Lid Launch are shown in United States Dollars (USD). GST and applicable taxes will be charged on orders placed within Canada.
<br /><br />
<b>1.3</b> Customers acknowledge and agree that some banks and financial institutions may charge you an additional fee for international transactions.
<br /><br />
<b>1.4</b> Customers acknowledge and agree Item prices do not vary according to your location; however you accept that delivery charges will vary depending on the destination.
<br /><br />
<b>1.5</b> Customers acknowledge and agree that Lid Launch is not responsible for any additional charges, fees or taxes charged by local government, port authorities or 3rd party agencies. Any addtional charges are the responsibility of the customer and not the responsibility of Lid Launch.
<br /><br />


<b>2.</b> DELIVERY ARRANGEMENTS
<br /><br />
<b>2.1</b> Your shopping basket on the Site displays the Items you have chosen and details of postage and packaging. The delivery costs for each Item may vary according to the delivery methods available for that particular product.
<br /><br />
<b>2.2</b> Any delivery times quoted are in Business Days.
<br /><br />
<b>2.3</b> Delivery time is 2-3 weeks (United States & Canada). Shipping costs are determined at the checkout.
<br /><br />
<b>2.4</b> Customers acknowledge and agree that the Items offered for sale are directed solely at residents in the United States and Canada. Lid Launch makes no representation that any Items sold through the Site are appropriate or available for use outside The United States and Canada. Customers must comply with all applicable laws and regulations of the country for which the Items are destined. Please be advised that some Items may not be deliverable overseas due to local law and it shall be your responsibility for any failure to deliver the Items overseas due to local law. We will not be liable for any breach by you of any laws.
<br /><br />


<b>3. SPECIAL OFFERS</b>
<br /><br />
All specials, promotions, clearances, offers, and discounted items advertised on the Site are available only while stocks last unless otherwise stated.
<br /><br />


<b>4. ITEM AVAILABILITY</b>
<br /><br />
All hats are custom made to order and will be created once purchased.
<br /><br />


<b>5. NOTICE</b>
<br /><br />
<b>5.1</b> If there is a defect with any of the Items in your order, you must notify us within 15 days of receipt of the Items of your intention to return the Items to us.
<br /><br />
<b>5.2</b> You must provide a copy of your invoice and receipt along with your notification.
<br /><br />
<b>5.3</b> You must provide particulars as to why you are not satisfied with the Items in your order. You must include a clear photograph of the defect.
<br /><br />


<b>6. RETURN </b>
<br /><br />
Please see our returns policy page
<br /><br />


<b>7. REPLACEMENTS ONLY</b>
<br /><br />
Please see our returns policy page
<br /><br />


<b>8. ENTIRE AGREEMENT</b>
<br /><br />
<b>8.1</b> These Terms, and the documents expressly referred to in them, constitute the entire Agreement between you and Lid Launch, and supersede all previous discussions, correspondence, negotiations, previous arrangements, understanding or agreement between us relating to the Services.
<br /><br />
<b>8.2</b> We each acknowledge that, in entering into this Agreement, neither of us relies on, and subsequently will have any remedies for, any representation or warranty that is not set out in this Agreement.