@{
    ViewBag.Title = "LidLaunch - Terms & Conditions";
}
<div class="centerInner">
    <h1>TERMS & CONDITIONS</h1>
    <p>PLEASE READ THESE CUSTOMER TERMS AND CONDITIONS CAREFULLY BEFORE USING THE SITE AND SERVICES.</p>
    <br />
    <b>TERMS AND CONDITIONS</b>
    <br /><br />
    <b>GENERAL</b>
    <b>1.1</b>       These terms govern your use of our website located at lidlaunch.com (the Site) and form a binding contractual agreement between you, the Customer of the Site and us, LidLaunch (LidLaunch). For that reason, these Terms are important and you should read them carefully and contact us with any questions before you use the Site and the Services.
    <br /><br />
    <b>1.2</b>       By completing the registration process and using the Services, or by viewing or browsing the Site, you acknowledge that you have had sufficient chance to read and understand these Terms, and that you agree to be bound by them.
    <br /><br />
    <b>1.3</b>       You warrant that you are at least 18-years-old and you are legally capable of entering into binding contracts. If you are under 18-years-old, you warrant that you have obtained consent from your parent or guardian and they agree to be bound by these Terms on your behalf.
    <br /><br />
    <p>1.4</p>       If you do not agree to these Terms, you may not access or otherwise use the Site and the Services offered on the Site.
    <br /><br />
    <b>2.</b>          <b>DEFINITIONS</b><br />
    In these Terms:
    <br /><br />
    Content means any and all data, text, software, images, audio or video material and other content, in any medium, provided by LidLaunch to you;
    <br /><br />
    Customer means a person who gains access to the Site and Services, whether as a registered or casual Customer or a casual website browser;
    <br /><br />
    Customer’s Content means the Customer’s Intellectual Property to be incorporated into the Items through the Services;
    <br /><br />
    Intellectual Property means all intellectual property rights, including all copyright, patents, trade marks, design rights, trade secrets, domain names, know-how and other rights of a similar nature, whether registrable or not and whether registered or not, and any applications for registration or rights to make such an application;
    <br /><br />
    Item means the products and/or services produced through the Services with the Customer’s Content;
    <br /><br />
    Services mean the online e-commerce platform provided by LidLaunch to allow Customers access to incorporate Customer’s Content into Items and facilitate sales and purchases between Customers and LidLaunch through the Site. This includes Services currently offered by LidLaunch and any Services or products that LidLaunch may choose to offer in the future;
    <br /><br />
    Site means LidLaunch;
    <br /><br />
    Terms means these Customer Terms and Conditions and the documents referred to in it;
    <br /><br />
    You means you, the person using the site in your capacity as a Customer.
    <br /><br />
    Us, We, Our means LidLaunch.
    <br /><br />
    <b>3.          ACCESSING THE SITE</b><br />
    <b>3.1</b>       You acknowledge and agree that although we will use all reasonable efforts to ensure that the Services are available, temporary interruptions of the Services available through the Site may occur. We shall not be liable to any person or entity for loss or damage incurred by such downtimes.
    <br /><br />
    <b>3.2</b>        All content and services provided on or through this Site are provided "AS IS" and "AS AVAILABLE" for your use. The content is provided without warranties or conditions of any kind either express or implied, including but not limited to implied warranties and conditions of merchantability, fitness for a particular purpose or non-infringement. Your use of this Site is solely at your risk.
    <br /><br />
    <b>3.3</b>       We reserve the right to withdraw or amend the Services and Content we provide on the Site without notice. We may restrict access to some parts of or the entire Site, from time to time.
    <br /><br />
    <b>4.          REGISTRATION INFORMATION AND PASSWORDS</b><br />
    <b>4.1</b>       You do not need to register to the Site in order to purchase Items from the Site. Unregistered Customers must provide minimum personal details relevant for the order and delivery of the Item. We change this in the future to only allow purchases to be made by registered Customers only. However, to obtain full access to the Services, registration is required. Any personal data or information provided by you is processed by us in accordance with our [PRIVACY POLICY]. By registering to the Site and providing any such data or other personal information:
    <br /><br />
    <b>(a)</b>         you agree that all information provided during the registration process is true and accurate and you will update this information in order to keep it current, complete and accurate; and
    <br /><br />
    <b>(b)</b>         you agree to the terms of our [PRIVACY POLICY].
    <br /><br />
    <b>4.2</b>       During the registration process, you will be asked to select a password for your Customer account. You agree to keep your password confidential at all times and must not disclose it to any third parties. You agree to be fully responsible for activities that relate to your Customer account or your password. If you have reason to believe that your password has been obtained by someone else without your consent, you must inform us immediately to disable your Customer account.
    <br /><br />
    <b>4.3</b>       Unregistered Customers acknowledge and agree that their details and purchase history will not be stored and retrieved.
    <br /><br />
    <b>5.          SCOPE OF SERVICES</b><br />
    <b>5.1</b>       The Site and Services are provided for to Customers for individual use, solely for internal use by you for your business, or for your own personal use.
    <br /><br />
    <b>5.2</b>       The Site and Services allow for Customers to incorporate Customer’s Content into Items and purchase those Items from LidLaunch. LidLaunch only provides the Site and the Services as an e-commerce platform. LidLaunch does not recommend or endorse any particular Items or manufacturers. The Site and Services are not designed to provide qualitative advice regarding the fitness for purpose and merchantability of any Items. LidLaunch strongly advice Customers to exercise caution and do their own due diligence in conducting any transactions through the Site and Services.
    <br /><br />
    <b>5.3</b>       Customers agree to provide all the information and materials as may reasonably be required by the Site in relation to transactions conducted on, or through, or as a result of the use of the Site. The Site has the right to suspend or terminate any Customer account if the Customer fails to provide the information and materials as required by the Site.
    <br /><br />
    <b>5.4</b>       We may refuse to process a transaction for any reason or refuse to provide the Services to anyone at any time at our sole discretion. The Site or LidLaunch will not be liable to you or any third party by reason of such a refusal or by reason of the unwinding or suspension of any transaction after processing has commenced.
    <br /><br />
    <b>6.          DISCLAIMER</b><br />
    <b>
        6.1
    </b>       This disclaimer of liability applies to any damages or injury caused by any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communication line failure, theft, or destruction or unauthorized access or, alteration of or use of record in connection with the use or operation of the Service, whether for breach of contract, tortious behaviour, negligence or any other cause of action.
    <br /><br />
    <b>6.2</b>       We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the Services or the Content contained on the Site for any purpose. Any reliance you place on such information is therefore strictly at your own risk. We disclaim any express or implied warranty representation or guarantee as to the effectiveness or profitability of the Services or that the operation of our Site will be uninterrupted or error-free. We are not liable for the consequences of any interruptions or error in the Site or the Services.
    <br /><br />
    <b>7.          THIRD PARTY WEBSITES</b><br />
    <b>7.1</b>       The Services or any Item Listing may link to other websites, services or resources on the Internet, and other websites, services or resources may contain links to the Services. These websites are not under our control and are not maintained by LidLaunch. We are not responsible for the content of those sites. We only provide links to external websites as a convenience, and the inclusion of such a link to external websites do not imply our endorsement of those websites. You acknowledge and agree that when you access other websites on the Internet, you do so at your own risk.
    <br /><br />
    <b>7.2</b>       We make no representation about any other website you access through this one.  Please understand other websites are independent from our sites so we do not accept responsibility for such websites.
    <br /><br />
    <b>8.          OUR INTELLECTUAL PROPERTY</b><br />
    <b>8.1</b>       Nothing in these Terms constitutes a transfer of any Intellectual Property rights from us to you.
    <br /><br />
    <b>8.2</b>       We own and retain all proprietary rights to the Site, the Services provided through the Site, and all associated Intellectual Property rights. You are permitted to use the Services only as authorised by us. As a Customer, you are granted a limited, non-exclusive, revocable, non-transferable right to use the Site and Services to create, display, use, play, and download Content subject to these Terms.
    <br /><br />
    <b>8.3</b>       Our Intellectual Property must not be used in connection with a product or service that is not affiliated with us or in any way brings us in disrepute.
    <br /><br />
    <b>8.4</b>       You must not modify the physical or digital copies of any Content you print off or download in any way, and you must not use any illustrations, photographs, video or audio, or any graphics separately from any accompanying text.
    <br /><br />
    <b>8.5</b>       Any opinions, advice, statements, services, offers, or other information or content expressed or made available by Customers are those of the respective author(s) or distributor(s) and not of LidLaunch.
    <br /><br />
    <b>9.          CUSTOMER’S CONTENT</b><br />
    <b>9.1</b>       You must not add any Customer’s Content into any Items:
    <br /><br />


    <b>(a)</b>         unless you hold all necessary rights, licences and consents to do so;
    <br /><br />


    <b>(b)</b>         that would cause you or us to breach any law, regulation, rule, code or other legal obligation;
    <br /><br />


    <b>(c)</b>         that is or could reasonably be considered to be obscene, inappropriate, defamatory, disparaging, indecent, seditious, offensive, pornographic, threatening, abusive, liable to incite racial hatred, discriminatory, blasphemous, in breach of confidence or in breach of privacy;
    <br /><br />


    <b>(d)</b>         that is unsolicited, undisclosed or unauthorized advertising;
    <br /><br />


    <b>(e)</b>         that are software viruses or any other computer code, files, or programs designed to interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment;
    <br /><br />


    <b>(f)</b>          that would bring us, or the Site, into disrepute; or
    <br /><br />


    <b>(g)</b>         that infringes the Intellectual Property or other rights of any person.
    <br /><br />


    <b>9.2</b>       You agree to keep all records necessary to establish that your Customer’s Content does not violate any of the requirements under clause 9.2(a) and make such records available upon our reasonable request. You acknowledge and agree that LidLaunch does not keep any records of Customer’s Content whether incorporated into Items or not.
    <br /><br />


    <b>9.3</b>       You retain ownership of your Intellectual Property and proprietary rights in any Customer’s Content. These Terms do not prevent you front granting non-exclusive rights to use your Customer’s Content to others.
    <br /><br />


    <b>9.4</b>       We are under no obligation to regularly monitor the accuracy or reliability of Customer’s Content incorporated into any Items. We reserve the right to modify or remove any Customer’s Content at any time.
    <br /><br />


    <b>9.5</b>       You hereby grant LidLaunch a royalty-free, perpetual license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, play and exercise all Intellectual Property rights without limitation with respect to Customer’s Content worldwide or to incorporate Customer’s Content in other works in any media now known or later developed for the full term of rights that may exist in Customer’s Content.
    <br /><br />


    <b>9.6</b>       You acknowledge and agree that LidLaunch will undertake all reasonable steps to ensure that Customer’s Content is incorporated into Items in the highest resolution possible; however, the resolution reflected into Items is wholly dependent on the resolution of the Customer’s Content. As such, the Customer agrees to provide only high resolution Customer’s Content for incorporation into Items.
    <br /><br />


    <b>10.       FAIR USE</b><br />
    <b>10.1</b>    You must not:<br />
    <br /><br />
    <b>(a)</b>         modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, sublicense, transfer, assign, rent, sell or otherwise convey any information, software, products or services obtained from the Services without the prior written consent from LidLaunch; or
    <br /><br />
    <b>(b)</b>         disassemble, decompile or otherwise reverse engineer all or any portion of the Site, Services or Content; or
    <br /><br />
    <b>(c)</b>         impose or attempt to impose an unreasonable or disproportionately large load, as determined by LidLaunch in its sole discretion, on the Site’s and Services’ infrastructure; or
    <br /><br />
    <b>(d)</b>         interfere or attempt to interfere with the normal course and process of the Services; or
    <br /><br />
    <b>(e)</b>         bypass any computer systems or secured networks connected to the Services; or
    <br /><br />
    <b>(f)</b>          use manual or automated software, devices, or other processes to harvest or scrape any Content from the Site and Services; or
    <br /><br />
    <b>(g)</b>         do any other act that may constitute an improper use of the Site and Services, as determined by LidLaunch in its sole discretion.
    <br /><br />
    <b>11.       LIMITATION OF LIABILITY AND INDEMNITY</b><br />
    <b>11.1</b>    You agree that we shall not be liable for any damages suffered as a result of using the Services, copying, distributing, or downloading Content from the Site.
    <br /><br />
    <b>11.2</b>    In no event shall we be liable for any indirect, punitive, special, incidental or consequential damage (including loss of business, revenue, profits, use, privacy, data, goodwill or other economic advantage) however it arises, whether for breach of contract or in tort, even if it has been previously advised of the possibility of such damage.
    <br /><br />
    <b>11.3</b>    We do not endorse the any Item Listings, and expressly disclaim any and all liability in connection with them. In no event shall we be liable for any claims by a third party in tort or contract, or pursuant to the Competition and Consumer Act 2010 (Cth) including, but not limited, to any misleading statements made and/or incorporated into any Item Listings created using the Services. It is your sole responsibility to ensure the accuracy of the data inputted.
    <br /><br />
    <b>11.4</b>    You have sole responsibility for adequate security protection and backup of data and/or equipment used in connection with your usage of the Site and Services and will not make a claim against for lost data, re-run time, inaccurate instruction, work delays or lost profits resulting from the use of the Site and Services. You must not assign or otherwise dispose of Customer account to any other person.
    <br /><br />
    <b>11.5</b>    Without limiting the foregoing, in no event will our aggregate liability to you exceed, in total, the amounts paid by you to us.
    <br /><br />
    <b>11.6</b>    As a condition of your access to and use of the Site, you agree to indemnify LidLaunch and its successors and assigns for all damages, costs, expenses and other liabilities, including but not limited to legal fees and expenses, relating to any claim arising out of or related to:
    <br /><br />
    <b>(a)</b>         your access to and use of the Site and Services; or
    <br /><br />
    <b>(b)</b>         your breach of these Terms and any applicable law or the rights of another person or party.
    <br /><br />
    This indemnification section survives the expiration of your registration, and applies to claims arising both before and after the registration ends.
    <br /><br />
    <b>12.       TERMINATION</b><br />
    <b>12.1</b>    You agree that we may, at any time and at our sole discretion, with or without cause or any notice to you, terminate your access to the Site and Services, and/or your registration, or suspend or block your access to the Site and Services.
    <br /><br />
    <b>12.2</b>    We may terminate or suspend your access to the Site if there is a failing to make any required payments or fees. If you subsequently want your account to be reinstated, you must pay all monies due and owing to us including any applicable costs or charges. You may then have to open a new account as all your data may have been deleted, archived, or lost.
    <br /><br />
    <b>12.3</b>    We shall not be liable to you or any third party for any claims or damages arising out of any termination or suspension or any other actions taken by us in connection therewith.
    <br /><br />
    <b>12.4</b>    If applicable law requires us to provide notice of termination or cancellation, we may give prior or subsequent notice by posting it on the Site or by sending a communication to any address (email or otherwise) that we have for you in our records.
    <br /><br />
    <b>13.       NOTICE</b><br />
    <b>13.1</b>    By using the Site, you accept that communication with us will be mainly electronic. We will contact you by email or provide you with information by posting notices on the Site.
    <br /><br />
    <b>13.2</b>    You acknowledge that all contracts, notices, information and other communication we may provide electronically comply with any legal requirements that such documents are in writing.
    <br /><br />
    <b>13.3</b>    Notice will be deemed received and properly served immediately when posted on the Site, 24 hours after an email is sent, or 3 days after the date of posting any letter. As proof of service, it is sufficient that:
    <br /><br />
    <b>(a)</b>         For letters, the letter was properly addressed, stamped and placed in the post; and
    <br /><br />
    <b>(b)</b>         For emails, the email was sent to the specified email address.
    <br /><br />
    <b>14.       NO WAIVER</b><br />
    <b>14.1</b>    If we fail, at any time, to insist upon strict performance of your obligations under these Terms, or if we fail to exercise any of the rights and remedies we are entitled to under these Terms, this will not constitute a waiver of such rights or remedies and it will not relieve you from compliance with your obligations.
    <br /><br />
    <b>14.2</b>    If we waive a default, it does not constitute a waiver of any subsequent defaults.
    <br /><br />
    <b>14.3</b>    No waiver is effective unless it is expressly stated by us to be a waiver and is communicated to you in writing as per clause 12.
    <br /><br />
    <b>15.       FORCE MAJEURE</b><br />
    We shall be under no liability to you in respect of anything that, if not for this provision, would or might constitute a breach of these Terms, where this arises out of circumstances beyond our control, including but not limited to:
    <br /><br />
    <b>(a)</b>         Acts of god;
    <br /><br />
    <b>(b)</b>         Natural disasters;
    <br /><br />
    <b>(c)</b>         Sabotage;
    <br /><br />
    <b>(d)</b>         Accident;
    <br /><br />
    <b>(e)</b>         Riot;
    <br /><br />
    <b>(f)</b>          Shortage of supplies, equipment, and materials;
    <br /><br />
    <b>(g)</b>         Strikes and lockouts;
    <br /><br />
    <b>(h)</b>         Civil unrest;
    <br /><br />
    <b>(i)</b>          Computer hacking; or
    <br /><br />
    <b>(j)</b>          Malicious damage.
    <br /><br />
    <b>16.       SEVERABILITY</b><br />
    If any court decides that any of the provisions of these Terms are invalid, unlawful or unenforceable to any extent, that term will, to that extent only, be severed from the remaining terms. The rest of these Terms will continue to be valid.
    <br /><br />
    <b>17.       ENTIRE AGREEMENT</b><br />
    <b>
        17.1
    </b>    These Terms, and the documents expressly referred to in them, constitute the entire agreement between you and LidLaunch, and supersede all previous discussions, correspondence, negotiations, previous arrangements, understanding or agreement between us relating to the Services.
    <br /><br />
    <b>17.2</b>    We each acknowledge that, in entering into these Terms, neither of us relies on, and subsequently will have any remedies for, any representation or warranty that is not set out in these Terms.
    <br /><br />
    <b>18.       GOVERNING LAW</b><br />
    These Terms is governed by the laws of California, United States of America and each party submits to the jurisdiction of the courts of California.
    <br /><br />
    <b>19.       UPDATES TO THESE TERMS</b><br />
    <b>19.1</b>    We reserve the right, in our discretion, to correct any errors or omissions in any part of the Site and Services. We may restrict access to parts or the entire Site and Services at any time, including, but not limited to, Content, certain features and Services, hours of availability, and equipment needed for access or use, without notice or liability.
    <br /><br />
    <b>19.2</b>    Any material on the Site and Services may be out of date at any given time and we are under no obligation to update such material.
    <br /><br />
    <b>19.3</b>    We reserve the right, in our sole discretion, to change, modify, add or remove any part of these Terms, in whole or in part, at any time. Notification of the changes to these Terms will be posted on the Site and will be effective immediately, unless expressed otherwise.
    <br /><br />
    <b>19.4</b>    It is your sole responsibility to periodically check these Terms for any changes. If you do not agree with any of the changes to these Terms, it is your sole responsibility to unsubscribe from the Site and Services. Your continued use of the Site and Services will be deemed as your acceptance thereof.
    <br /><br />
    <b>19.5</b>    We may assign or sublicense any of our rights or obligations under these Terms at any time, without obtaining your consent.
    <br /><br />
    Last updated on: 3/16/2018
</div>