@{
    ViewBag.Title = "Lid Launch - Signup and start selling selling your own custom hats!";
}
<div id="UserSignUp">
    <div class="formInput"><h1>Create Account</h1></div>
    <div class="formInput">
        First Name:
    </div>
    <div class="formInput">
        <input type="text" id="txtFirstName" />
    </div>
    <div class="formInput">
        Middle Initial:
    </div>
    <div class="formInput">
        <input type="text" id="txtMiddleInitial" />
    </div>
    <div class="formInput">
        Last Name:
    </div>
    <div class="formInput">
        <input type="text" id="txtLastName" />
    </div>
    <div class="formInput">
        Email:
    </div>
    <div class="formInput">
        <input type="text" id="txtEmail" />
    </div>
    <div class="formInput">
        Password:
    </div>
    <div class="formInput">
        <input type="password" id="txtPassword" />
    </div>
    <div class="formInput">
        Verify Password:
    </div>
    <div class="formInput">
        <input type="password" id="txtVerifyPassword" />
    </div>
    <div class="formInput">
        <input type="button" value="Create Account" onclick="saveUser();" id="loginButton" />
    </div>
</div>

<div id="createDesignerPopup" class="hidden">
    <div id="createDesignerPopupInner">
        @{ Html.RenderPartial("~/Views/Designer/Index.cshtml"); }
        <input type="button" class="smallButton" value="I do not want a designer account." onclick="closeDesignerPopup()" style="margin:10px auto;"/>
    </div>    
</div>


