@{
    ViewBag.Title = "LidLaunch - Login";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtEmail").keydown(function (e) {
            if (e.keyCode == 13) {
                login();
            }
        });
        $("#txtPassword").keydown(function (e) {
            if (e.keyCode == 13) {
                login();
            }
        });
    });
</script>
<div id="UserSignUp">
    <div class="formInput"><h1>Welcome back!</h1></div>
    <div class="formInput"><p><b>Orders are not tied to user accounts.</b> To view your order status please use the link included in your payment confirmation email. If you did not receive this email, please check your spam folder. If you still do not see emails from us reach out to support@lidlaunch.com.</p></div>
    <div class="formInput">
        Email:
    </div>
    <div class="formInput">
        <input type="text" id="txtEmail" />
    </div>
    <div class="formInput">
        Password:
    </div>
    <div class="formInput">
        <input type="password" id="txtPassword" />
    </div>
    <div class="formInput">
        <input type="button" value="Login" onclick="login();" id="loginButton" />
        <!--<a href="/User" id="createAccountLink">Create An Account</a><br />-->
        <!--<a href="#" onclick="SendForgotPasswordEmail();" id="createAccountLink">Forgot Password?</a>-->
    </div>
</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtPassword').keypress(function (e) {
                var key = e.which;
                if (key == 13)  // the enter key code
                {
                    $('#createAccountLink').click();
                    return false;
                }
            });
            $('#txtEmail').keypress(function (e) {
                var key = e.which;
                if (key == 13)  // the enter key code
                {
                    $('#createAccountLink').click();
                    return false;
                }
            });
        });
    </script>
