@{
    ViewBag.Title = "LidLaunch - Reset Password";
}
<div id="UserSignUp">
    <div class="formInput"><h1>Enter your email and set a new password.</h1></div>
    <div class="formInput">
        Email:
    </div>
    <div class="formInput">
        <input type="text" id="txtEmail" />
    </div>
    <div class="formInput">
        Password:
    </div>
    <div class="formInput">
        <input type="password" id="txtPassword" />
    </div>
    <div class="formInput">
        Confirm Password:
    </div>
    <div class="formInput">
        <input type="password" id="txtConfirmPassword" />
    </div>
    <div class="formInput">
        <input type="button" value="Reset Password" onclick="UpdatePassword();" id="loginButton" />
    </div>
</div>