<style type="text/css">
    iframe#launcher {
        display: none;
    }
</style>

<a href="~/Dashboard/BulkSalesReport" class="adminPanelLink">
    Daily Bulk Sales Report
</a>
<a href="~/Reporting/GetExpensesByDateRange" class="adminPanelLink">
    Profit Estimator
</a>
<a href="~/Expense/ViewExpenses" class="adminPanelLink">
    Expenses
</a>
<a href="~/Reporting/ProfitLoss" class="adminPanelLink">
    Profit/Loss
</a>


