
@{
    ViewBag.Title = "Index";
}

<div id="bulkArtworkStep" class="centerInner" style="display:none;">
    <div id="designUploadContent">
        <h2>Upload the design you would like Digitized.</h2>       
        <div>
            <input type="file" id="bulkArtwork" />
        </div>
    </div>
    <div id="designComments" class="clear">
        <h2>Please tell us any specific instructions or details about your artwork that you think we should know.</h2>
        <p><b>For Example:</b> <i>Digitizing Info</i></p>
        <div>
            <textarea class="productDetailsTextMulti textBoxMulti" id="txtDetails" placeholder="Order Information" rows="10"></textarea>
        </div>
    </div>
    <div id="designProcessExplained">
        <h2>We will convert and digitize your artwork.</h2>
    </div>
</div><!--/bulkArtworkStep-->