
@{
    ViewBag.Title = "AdminPanel";
}

    <style type="text/css">
        iframe#launcher {
            display: none;
        }
    </style>

<a href="~/Dashboard/MachinePanel?bulkOrderId=0" class="adminPanelLink">
    Machine Panel
</a>
<a href="~/Dashboard/ViewBulkOrders" class="adminPanelLink">
    View Bulk Orders
</a>
<a href="~/Dashboard/ShipBulkOrders" class="adminPanelLink">
    Ship Bulk Orders
</a>
<a href="~/Dashboard/BulkOrderDetailsLookup?bulkOrderId=0" class="adminPanelLink">
    Bulk Order Details Lookup
</a>
<a href="~/Dashboard/BulkSalesReport" class="adminPanelLink">
    Daily Bulk Sales Report
</a>
<a href="~/Dashboard/BulkDigitizing" class="adminPanelLink">
    Bulk Order Digitizing
</a>
<a href="~/Dashboard/BulkOrderPriority" class="adminPanelLink">
    Bulk Order Priority
</a>
<a href="~/Inventory/View" class="adminPanelLink">
    Internal Inventory
</a>
<a href="~/Dashboard/BulkOrderItemAvailabilty" class="adminPanelLink">
    Item Availabilty
</a>
<a href="~/Reporting/GetExpensesByDateRange" class="adminPanelLink">
    Profit Calculator
</a>
<a href="~/Dashboard/Orders" class="adminPanelLink" style="display:none;">
    View Web Orders
</a>
<a href="~/Dashboard/NeedsDigitizing" class="adminPanelLink" style="display:none;">
    Web Orders Digitizing
</a>
<a href="~/Dashboard/PendingProducts" class="adminPanelLink" style="display:none;">
    Pending User Designs
</a>
<a href="~/Dashboard/CreateBatch" class="adminPanelLink" style="display:none;">
    Web Order Batching
</a>
<a href="~/Dashboard/HatManager" class="adminPanelLink" style="display:none;">
    Hat Manager
</a>
<a href="https://lidlaunch.atlassian.net/secure/RapidBoard.jspa?rapidView=1&projectKey=LL&selectedIssue=LL-2" class="adminPanelLink" target="_blank">
    Jira
</a>
<a href="https://lidlaunch.zendesk.com/agent/dashboard" class="adminPanelLink" target="_blank">
    Zen Desk
</a>


   