@{
    ViewBag.Title = "SetBulkDesign";
}
<div id="uploadBulkDesignPopup">
    <div id="uploadBulkDesignPopupInner">
        <span onclick="$('#uploadBulkDesignPopup').hide();" class="closeButton" style="position:absolute; top:5px;right:5px;">X</span>
        <select id="bulkDesignName">
            <option value="Front">Alternate Front</option>
            <option value="LeftSide">Left Side</option>
            <option value="RightSide">Right Side</option>
            <option value="Back">Back</option>
            <option value="Beanie">Beanie</option>
        </select>
        Art Source: <input type="file" id="fileArtSource"/>
        PNG PREVIEW: <input type="file" id="filePngPreview"/>
        DST: <input type="file" id="fileDst"/>
        PDF: <input type="file" id="filePdf"/>
        EMB: <input type="file" id="fileEmb"/>
        
        <div><input type="button" value="Save Design" class="smallButton" onclick="saveBulkDesign()" /></div>
    </div>
</div>


<script type="text/javascript">
    function saveBulkDesign() {
        var bulkOrderId = $('#BulkOrderId').text();
        var designName = $('#bulkDesignName').val();
        var artSource = $('#fileArtSource')[0].files;    
        var pngPreview = $('#filePngPreview')[0].files;
        var dst = $('#fileDst')[0].files;
        var pdf = $('#filePdf')[0].files;
        var emb = $('#fileEmb')[0].files;

        if (pngPreview.length > 0 && dst.length > 0 && pdf.length > 0 && emb.length > 0) {
            var data = new FormData();
            data.append("artSource", artSource[0]);
            data.append("pngPreview", pngPreview[0]);
            data.append("dst", dst[0]);
            data.append("pdf", pdf[0]);
            data.append("emb", emb[0]);
            data.append("designName", designName);
            data.append("bulkOrderId", bulkOrderId);

            $.ajax({
                type: "POST",
                url: '/Dashboard/CreateBulkDesign',
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    if (result == "") {
                        //do nothing
                        displayPopupNotification('Sorry there was an error creating your design.', 'error', false);
                    } else {
                        //set the url for the file link and show the link 
                        hideLoading();
                        showBulkOrderDetailsPopup(bulkOrderId);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    displayPopupNotification('Sorry there was an error creating your design.', 'error', false);
                }
            });

        } else {
            displayPopupNotification('Please upload atleast a png preview, dst file, pdf AND emb file to save.', 'error', false);
        }
    }
</script>